<h1>List candidate</h1>

<nz-table [nzScroll]="{ x: '1200px', y: '60vh' }" #middleTable nzSize="middle" [nzData]="data">
  <thead>
  <tr>
    <th nzWidth="30px">id</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>phoneNumber</th>
    <th>email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of middleTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.lastName }}</td>
    <td>{{ data.phoneNumber }}</td>
    <td>{{ data.email }}</td>
    <td>
      <button nz-button nzType="primary" (click)="showConfirm()" nzDanger>delete</button>
    </td>
  </tr>
  </tbody>
</nz-table>
