<app-header></app-header>
<div class="container">
  <h1 style="color: #1890ff">Register as recruter</h1>
  <div class="card">
    <form nzLayout="vertical" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzFor="firstName">First Name</nz-form-label>
        <nz-form-control nzErrorTip="First Name is required">
          <input id="firstName" type="text" nz-input formControlName="firstName" placeholder="First Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="lastName">Last Name</nz-form-label>
        <nz-form-control nzErrorTip="Last Name is required">
          <input id="lastName" type="text" nz-input formControlName="lastName" placeholder="Last Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="phoneNumber">Phone Number</nz-form-label>
        <nz-form-control nzErrorTip="Phone Number is required">
          <input id="phoneNumber" type="text" nz-input formControlName="phoneNumber" placeholder="Phone Number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="email">Email</nz-form-label>
        <nz-form-control nzErrorTip="Email is required">
          <input id="email" type="email" nz-input formControlName="email" placeholder="Email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="password">Password</nz-form-label>
        <nz-form-control nzErrorTip="Password is required">
          <input id="password" type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-form-control>
      </nz-form-item>



      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Register</button>
      Or
      <a routerLink="/login">Login</a>
    </form>
  </div>
</div>

<app-footer></app-footer>
